h1{
    border: 1px solid blue;
    padding-left: 2px;
    padding-right: 3px;
    margin-top: 6px;
    margin-bottom: 50px;
    height: 80px;
    width: 70px;
    position: center;
}

h2{
    border: 1px solid yellowgreen;
    margin-left: 10px;
    margin-right: 20px;
    padding-top: 40px;
    padding-bottom: 50px;
}
#E1{

}
#E2{
    width: 120px;
}
#E3{
    width: 180px;
    height: 100px;
}
#E4{
    width: 40px;
    height: 80px;
}